.maindiv{
    display: flex;
    gap:20px;
    margin-top: 40px;
}
.maindiv>div{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.maindiv>div>div{
      background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
.education_png>img{
width: 50%;
margin: auto;
}

.MainID{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}
.MainID>div>h1{
margin-left: -50px;
}
.checkFill{
    color: var(--color-primary);
}
.checkFill+h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.checkFill+h2+a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.checkFill+h2+a+p{
     color: cadetblue;
     font-size: small;
     font-style: oblique;
}

@media screen and (max-width: 1024px){
  .maindiv>div{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem
}
/* .MainID{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 70%;
    margin: auto;
} */

}


@media screen and (max-width: 600px){
    .maindiv>div{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem
}
.checkFill+h2{
    font-size: medium;
}
.checkFill+h2+a{
   font-size: small;
}
.checkFill+h2+a+p{
     font-size: 10px;
     
}
h1{
    font-size: 10px;
}
}